.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #514666;
  color: white;
}

.app-store {
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.credits {
  align-self: flex-start;
  margin-left: 10px;
}

.credits a {
  text-decoration: underline;
  color: darkturquoise;
}